/* Login form - My account */
.login-form .container {
    display: flex;
    justify-content: center;
}

.login-form .container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    /* border: 1px solid #000; */
    box-shadow: 3px 3px 10px 7px #00000011;
    width: 450px;
    border-radius: 5px;

}