/* Product Details Page */

section.product-details-page .product .product-img{
    display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1em;
}


section.product-details-page .product {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 5px;
    box-shadow: 3px 3px 10px 5px #00000011;
    padding: 15px;
}

section.product-details-page .product > * {
    width: 45%;
}

section.product-details-page .product-details > *{
    margin: 8px 0;
}

section.product-details-page .product-details .price {
    display: flex;
    gap: 1.5em;
}

section.product-info .header-links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
    padding: 2em 0;
}

.description-tab  h3{
    padding: 1em 0;
}

.description-tab p {
    line-height: 1.7;
}

.related-product-container h2 {
    padding-bottom: 30px;
}

.related-product-container .related-products .product{
    width: 250px;
    font-size: 12px;
}

.related-product-container .related-products {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
}

.related-product-container .related-products .product > div {
    display: flex;
    justify-content: space-between;
    padding: .5em 0;
}

.side-4 {
	grid-column: 2/4;
	grid-row-start: 1;
	grid-row-end: 4;
}

.side-4 img {
	width: 100%;
   height: 100%;	
}

@media (max-width: 968px) {
    section.product-details-page .product > * {
        width: 100%;
    }
}
