/* 
hekto furniture color theme

darkblue: #151875
pink: #fb2e86
light pink: #fff6fb
green: #08d15f
orange: #de9034
yellow: #ffc416
 */

/* Text/Fonts */
.pink-text {
    color: #fb2e86;
}

.yellow {
    color: #ffc416;
}

.grey-text {
    color: #0000007f;
}

.blue-text {
    color: #151875; 
}

#text-left {
    text-align: left;
}

.main-header-text {
    color: #151875;
    padding: 20px 0;
    text-align: center;
}

.underline {
    text-decoration: underline;
}

.bold-text {
    font-weight: bold;
}

.line-through {
    text-decoration: line-through;
}

/* Background colors */
.main-bg {
    background-color: #f1f0ff;
}

#bg-pink {
    background-color: #fb2e8728;
}

/* input */
.search-input {
    display: flex;
}

input {
    outline: none;
}

.search-input input{
    border: 2px solid #0000002b;
}

.search-input button {
    padding: 10px 15px;
}


/* Images */
img {
    /* object-fit: cover; */
    width: 100%;
}

/* Buttons */
button {
    border: 0;
    padding: 15px 25px;
    background-color: #fb2e86;
    /* border-radius: 5px; */
    color: #fff;
}

button:hover {
    cursor: pointer;
    background-color: #f65098;
}

button.checkout-btn {
    background-color: #08d15f;
    border-radius: 5px;
    width: 100%;
}

button a {
    color: #fff;
}

button a:hover {
    color: #fff;
}

.active-option {
    background-color: #fb2e86;
    color: #fff;
    border-radius: 5px;
}


/* States */
#active {
    color: #fb2e86;
}

.svg {
    width: 20px;
}

/* Cards */
#active-card {
    border-bottom: 3px solid #ffc416;
}

.card {
    text-align: center;
    width: 230px;
    margin: 15px;
    /* border: 1px solid #000; */
    box-shadow: 3px 3px 10px 5px #00000011;
}

.card .thumbnail {
    background-color: #f1f0ff;
    padding: 40px;
    height: 60%;
    width: 100%;
}

.card img {
    width: 70%;
}

.card .description {
    padding: 20px;
}

.card .code {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.card .code * {
    padding: 0 7px;
}

.card .price {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 0;
}

.card .price * {
    padding: 0 7px;
}

.small-card {
    text-align: center;
    width: 230px;
    font-size: 14px;
    padding: 40px 20px;
    margin: 15px;
    /* border: 1px solid #000; */
    box-shadow: 3px 3px 10px 5px #00000011;
}

.small-card img {
    width: 70px;
}

.col {
    max-width: 300px;
    margin: 15px;
    font-size: 14px;
}

.col .thumbnail {
    background-color: #f1f0ff;
    width: 100%;
    height: 220px;
    padding: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col .text {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.col .tag {
    display: flex;
}

.col .tag > * {
    padding-left: 10px;
}

.row {
    width: 365px;
    height: 200px;
    background-color: #f1f0ff;
    overflow: hidden;
    padding: 20px;
    display: flex;
    align-items: center;
    margin: 10px;
}

.row img {
    width: 150px;
    height: 150px;
}

.thumbnail {
    width: 250px;
}

/* others */
.links {
    display: flex;
    justify-content: center;
}

.links > * {
    padding: 0 10px;
}

section {
    padding: 50px 0;
}

/* padding */
.pt-2 {
    padding: 10px 0;
}

.header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 40px;
    color: #151875;
}

.header .right {
    display: flex;
}

.header .right > form {
    padding-left: 20px;
}

.header .right input {
    width: 30px;
}

/* Login Form */

.login-form form > *{
    margin: 7px 0;
}

.login-form form input {
    padding: 1em;
    border-radius: 5px;
    border: 1px solid #00000058;
    color: #00000058;
    width: 100%;
}

.login-form form button {
    width: 100%;
}

.login-form #text-left {
    width: 100%;
    padding: 10px 0;
}